*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #131313;
	overflow: hidden;
}
.layer
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 140px;
	height: 250vh;
	box-shadow: inset -10px 0 40px rgba(0,0,0,1),
	inset 10px 0 40px rgba(0,0,0,1),
	inset -10px 0 10px rgba(255,255,255,0.25),
	inset 10px 0 10px rgba(255,255,255,0.25),
	0 0 50px rgba(0,0,0,1);
}
.layer.layer1 
{
	background: #222 radial-gradient(#6dff73 9px,#000 9px,#000 13px,transparent 13px);
	background-size: 35px 35px;	
	animation: animateBg 2s linear infinite;
	transform: translate(-50%,-50%) rotate(45deg);
	z-index: 11;
}
.layer.layer2 
{
	background: #222 radial-gradient(#db0aff 9px,#000 9px,#000 13px,transparent 13px);
	background-size: 35px 35px;	
	animation: animateBg2 2s linear infinite;
	transform: translate(-50%,-38%) rotate(45deg);
	z-index: 3;
}
.layer.layer3 
{
	background: #222 radial-gradient(#03a9f4 9px,#000 9px,#000 13px,transparent 13px);
	background-size: 35px 35px;	
	animation: animateBg2 2s linear infinite;
	transform: translate(-50%,-62%) rotate(45deg);
	z-index: 3;
}


.layer.layer4 
{
	background: #222 radial-gradient(#ffc107 9px,#000 9px,#000 13px,transparent 13px);
	background-size: 35px 35px;	
	animation: animateBg2 2s linear infinite;
	transform: translate(-50%,-50%) rotate(-45deg);
	z-index: 12;
}
.layer.layer5 
{
	background: #222 radial-gradient(#e91e63 9px,#000 9px,#000 13px,transparent 13px);
	background-size: 35px 35px;	
	animation: animateBg 2s linear infinite;
	transform: translate(-50%,-38%) rotate(-45deg);
	z-index: 10;
}
.layer.layer6 
{
	background: #222 radial-gradient(#0f0 9px,#000 9px,#000 13px,transparent 13px);
	background-size: 35px 35px;	
	animation: animateBg 2s linear infinite;
	transform: translate(-50%,-62%) rotate(-45deg);
	z-index: 10;
}

@keyframes animateBg 
{
	0%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 35px -35px;
	}
}
@keyframes animateBg2
{
	0%
	{
		background-position: 35px -35px;
	}
	100%
	{
		background-position: 0 0;
	}
}