@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
	background: #010615;
	font-family: 'Poppins', sans-serif;
}
.box
{
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	margin: 40px;
	justify-content: center;
	align-items: center;
	background: #060c21;
}
.glass
{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	display: block;
	background: rgba(255,255,255,.1);
	pointer-events: none;
}
.content
{
	padding: 20px;
	box-sizing: border-box;
	color: #fff;
}
.box .content h2
{
	margin-bottom: 10px;
}
.box:before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}
.box:after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}
.box:before,
.box:after
{
	background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
    background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}