*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #f5f5f5;
}
.toggle
{
  position: relative;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.toggle span 
{
  position: absolute;
  width: 40px;
  height: 4px;
  background: #1863ff;
  display: block;
  border-radius: 4px;
  transition: 0.5s;
}
.toggle span:nth-child(1)
{
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
  transition-delay: 0s; 
}
.toggle.active span:nth-child(1)
{
  transform: translateY(0) rotate(45deg);
  width: 40px;
  transition-delay: 0.125s; 
}
.toggle span:nth-child(3)
{
  transform: translateY(15px);
  width: 15px;
  left: 15px;
  transition-delay: 0s;          
}
.toggle.active span:nth-child(3)
{
  transform: translateY(0) rotate(315deg);
  width: 40px;
  transition-delay: 0.25s; 
}
.toggle.active span:nth-child(2)
{
  transform: translateX(60px);
  transition-delay: 0; 
}