@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body 
{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	min-height: 100vh;
	background: #fafafa;
}
.dropdown 
{
	position: relative;
	margin-top: 100px;
	width: 300px;
	height: 50px;
}
.dropdown::before 
{
	content: '';
	position: absolute;
	top: 15px;
	right: 20px;
	width: 8px;
	height: 8px;
	border: 2px solid #333;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(-45deg);
	z-index: 10;
	transition: 0.5s;
}
.dropdown.active::before 
{
	top: 22px;
	transform: rotate(-225deg);
}
.dropdown input 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	padding: 12px 20px;
	font-size: 16px;
	background: #fff;
	text-transform: capitalize;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);
	outline: none;
}
.dropdown .option 
{
	position: absolute;
	top: 70px;
	width: 100%;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 30px 30px rgba(0,0,0,0.05);
	overflow: hidden;
	display: none;
	text-transform: capitalize;
}
.dropdown.active .option 
{
	display: block;
}
.dropdown .option div 
{
	padding: 12px 20px;
	cursor: pointer;
}
.dropdown .option div:hover 
{
	background: #62baea;
	color: #fff;
}
.dropdown .option ion-icon 
{
	position: relative;
	top: 4px;
	font-size: 1.2em;
}