@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root 
{
	--clr: #4fb6ff;
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--clr);
}
.box
{
	position: relative;
	width: 400px;
	height: 320px;
	background: #fff;
	background: #fff radial-gradient(
		var(--clr) 0px,
		var(--clr) 7px,
		transparent 7px);
	background-size: 20px 20px;
	background-position: -10px 10px;
}
.box::before 
{
	content: '';
	position: absolute;
	inset: 20px;
	box-shadow: 0 0 0 10px #fff;
	background: url(bg.jpg);
	background-size: cover;
}