*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #333;
	gap: 100px;
}
.loader
{
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: #333;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
  10px 10px 70px rgba(0,0,0,0.25);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #222;
}
.loader::before 
{
	content: '';
	position: absolute;
	inset: 40px;
	border-radius: 50%;
	box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
	z-index: 10;
	border: 3px dashed #666;
	animation: animate 30s linear infinite;
}
.loader::after 
{
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	background: rgba(0,0,0,0.1);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.25),
	0 0 0 20px rgba(0,0,0,0.15);
	border-radius: 50%;
	border: 3px dashed #666;
	z-index: 11;
	animation: animate 10s linear infinite;
}
.loader span 
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 100%;
	transform-origin: top left;
	overflow: hidden;
	animation: animate 2s linear infinite;
}
.loader:nth-child(2) span
{
	animation-delay: -1s;
	filter: hue-rotate(290deg);
}
.loader span::before 
{
	content: '';
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transform-origin: top left;
	transform: rotate(35deg);
	filter: blur(30px) drop-shadow(50px 50px 50px #f00);
	opacity: 0.75;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}