@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	padding: 0 100px;
	background: #000;
	transition: 1s;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header.sticky
{
	height: 80px;
}
header .logo
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 15vw;
	color: #fff;
	z-index: 100;
	transition: 1s;
	font-weight: 700;
	text-decoration: none;
}
header.sticky .logo
{
	position: absolute;
	font-size: 2em;
	left: 100px;
	transform: translate(0,-50%);
	
}
header img.banner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 1s;
}
header.sticky img.banner
{
	opacity: 0.5;
}
nav
{
	position: relative;
	display: flex;
}
nav ul
{
	position: relative;
	margin: 0;
	display: flex;
	transition: 0.25s;
	opacity: 0;
	visibility: hidden;
	transform: translateX(100px);
}
header.sticky nav ul
{
	opacity: 1;
	transition: 0.25s;
	transition-delay: 0.75s;
	visibility: visible;
	transform: translateX(0);
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	font-size: 1.2em;
	text-decoration: none;
}
nav ul li a:hover
{
	color: #ff275f;
}
section
{
	margin-top: 50vh;
	padding: 100px;
	box-sizing: border-box;
}
section h2
{
	margin: 0;
	padding: 0;
	font-size: 3em;
}
section p
{
	font-size: 1.2em;
}

@media (max-width: 991px)
{
	header
	{
		padding: 0 40px;
	}
	section
	{
		padding: 40px;
	}
	section h2
	{
		font-size: 2em;
	}
	header.sticky .logo
	{
		left: 40px;
	}
	header.sticky img.banner
	{
		opacity: 0;
	}
	nav ul
	{
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	nav.active ul
	{
		position: fixed;
		top: 80px;
		left: 0;
		width: 100%;
		height: calc(100% - 80px);
		background: #000;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	nav ul li a
	{
		font-size: 2em;
	}
	header.sticky .toggle
	{
	    position: fixed;
	    top: 15px;
	    right: 40px;
	    width: 50px;
	    height: 50px;
	    cursor: pointer;
	    background: #fff url(menu.png);
	    background-size: 30px;
	    background-repeat: no-repeat;
	    background-position: center;
	    z-index: 10;
	}
	header.sticky .toggle.active
	{
	    background: #fff url(close.png);
	    background-size: 25px;
	    background-repeat: no-repeat;
	    background-position: center;
	}
}