@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
header
{
  position: relative;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo 
{
  position: relative;
  color: #222;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
}
.group
{
  position: relative;
  display: flex;
}
.group .navigation,
.group .action
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.group ul li 
{
  list-style: none;
}
.group ul li a 
{
  color: #222;
  text-decoration: none;
  margin-left: 30px;
}
.group ul li a:hover 
{
  color: #ff5a26;
}
.group .action
{
  margin-left: 20px;
}
.group .action li a 
{
  font-size: 1.25em;
}
.banner
{
  position: relative;
  width: 100%;
  padding: 0 100px;
}
.banner .bg 
{
  position: relative;
  width: 100%;
  height: 75vh;
  background: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content h2 
{
  position: relative;
  color: #fff;
  font-size: 6em;
}
.btn
 {
   display: inline-block;
   background: #ff5a26;
   color: #fff;
   padding: 20px 40px;
   text-decoration: none;
   font-size: 1.1em;
   margin-top: 20px;
   letter-spacing: 2px;
 }
 .searchBox
 {
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background: #fff;
   padding: 30px 50px;
   transform: translateY(50%);
   box-shadow: 0 5px 25px rgba(0,0,0,0.1);
 }
 .searchBox .inputBx 
 {
   margin: 0 20px;
 }
 .searchBox .inputBx p 
 {
   color: #222;
   margin-bottom: 10px;
 }
 .searchBox .inputBx p.white 
 {
   color: #fff;
 }
 .searchBox .inputBx input 
 {
   border: 1px solid #222;
   outline: none;
   padding: 10px;
   width: 100%;
   min-width: 150px;
   font-size: 1.1em;
 }
 .searchBox .inputBx input[type="Submit"]
 {
   outline: none;
   border: none;
   background: #ff5a26;
   color: #fff;
   cursor: pointer;
   letter-spacing: 2px;
   padding: 13px;
 }