*
{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
body
{
    background: #f5f5f5;
    min-height: 100vh;
}
.swiper-container
{
  width: 300px;
  height: 380px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}
.swiper-slide
{
  background-position: center;
  background-size: cover;
  background: #f2f2f2;
}
.swiper-container .swiper-slide .imgBx
{
    position: absolute;
    width: 300px;
    height: 300px;
}
.swiper-container .swiper-slide .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-container .swiper-slide .content
{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-container .swiper-slide .content h2
{
    font-size: 20px;
}
.swiper-container .swiper-slide .content h2 span
{
    font-size: 16px;
    color: #f44336;
}