*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --bg: #222;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
}
ul 
{
    position: relative;
    display: flex;
    gap: 50px;
}
ul li
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
ul li::before
{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}
ul li:hover::before
{
    inset: 0px;
}
ul li::after
{
    content: '';
    position: absolute;
    inset: 0px;
    background: var(--bg);
    transform: rotate(45deg);
}
ul li a
{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s;
}
ul li:hover a
{
    font-size: 3.5em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
ul li:hover
{
    transform: scale(0.75);
    z-index: 10000;
}