@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    background: #333;
}
.testimonialsBox
{
    padding: 50px 50px 100px;
}
.testimonialsBox h2 
{
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;
    color: #ccc;
}
.testimonials 
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 100%;
    grid-gap: 50px;
}
.testimonials .box 
{   
    padding: 60px 40px;
    background: #444;
    box-shadow: 0 20px 35px rgba(0,0,0,0.075);
    transition: 0.5s;
}
.testimonials .box:hover 
{
    background: #3586ff;
}
.testimonials .box p 
{
    color: #ccc;
    font-size: 1em;
    line-height: 1.9em;
    font-style: italic;
    transition: 0.25s;
}
.testimonials .box:hover p
{
    color: #fff;
}
footer
{
    position: relative;
    width: 100%;
    padding: 20px 50px;
    background: #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animate 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 998;
    opacity: 0.2;
    bottom: 15px;
    animation: animate 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
}

@keyframes animate
{
    0%,100%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animate2
{
    0%,100%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
.social,
.menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social li,
.menu li
{
    list-style: none;
}
.social li a 
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social li a:hover 
{
    transform: translateY(-10px);
}

.menu li a 
{
    font-size: 1.2em;
    color: #fff;
    opacity: 0.75;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}
.menu li a:hover 
{
    opacity: 1;
}
footer p 
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}

@media (max-width: 600px)
{
    .testimonialsBox h2 
    {
        font-size: 2.5em;
    }
    .testimonials
    {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        width: 100%;
        grid-gap: 30px;
    }
    .testimonialsBox
    {
        padding: 50px 50px 70px;
    }
    .testimonials .box
    {
        box-shadow: 0 10px 25px rgba(0,0,0,0.075);
    }
}