*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
.container
{
	width: 1100px;
	display: flex;
    justify-content: space-between;
}
img
{
	-webkit-box-reflect: below  0px linear-gradient(180deg,transparent,transparent ,#0002);
	transform-origin: left;
	max-width: 350px;
	transform: perspective(800px) rotateY(15deg);
}