@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
	background: #fff;
}
#box
{
	position: relative;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform: 0.5s;
	animation: animate 10s linear infinite;
}
@keyframes animate 
{
	0%
	{
		transform: rotateX(-30deg) rotateY(360deg);
	}
	100%
	{
		transform: rotateX(-30deg) rotateY(0deg);
	}
}
#box .top
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: #e8bb84;
	display: flex;
	align-items: center;
	transform: rotateX(90deg) translateZ(150px);
}
#box .top::before 
{
	content: '';
	position: absolute;
	width: 100%;
	height: 60px;
	background: #000 url(tape.jpg);
	background-size: 85px;
	background-repeat: repeat-x;
}
#box::after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: rgba(0,0,0,0.05);
	transform: rotateX(90deg) translateZ(-220px);
	filter: blur(15px);
}
#box div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
#box div span
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#box div span:nth-child(1)
{
	transform: rotateY(0deg) translate3d(0,0,150px);
	background: #d8aa77;
}
#box div span:nth-child(1)::before 
{
	content: '';
	position: absolute;
	width: 200px;
	height: 200px;
	background: url(amazon.png);
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: center;
}
#box div span:nth-child(2)
{
	transform: rotateY(90deg) translate3d(0,0,150px);
	background: #ca9864;
}
#box div span:nth-child(3)
{
	transform: rotateY(180deg) translate3d(0,0,150px);
	background: #d8aa77;
}
#box div span:nth-child(3)::before 
{
	content: '';
	position: absolute;
	width: 200px;
	height: 200px;
	background: url(arrow.png);
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: center;
}
#box div span:nth-child(4)
{
	transform: rotateY(270deg) translate3d(0,0,150px);
	background: #ca9864;
}
.tape 
{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translate(-50%) rotate(90deg);
	width: 120px;
	height: 60px;
	background: #000 url(tape.jpg);
	background-size: 85px;
	background-repeat: repeat-x;
	background-position-x: 45px;
}
#box div span:nth-child(4) .tape 
{
	transform: translate(-50%) rotate(270deg);
	background-position-x: 30px;
}