@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root 
{
  --black: #333;
  --white: #fff;
}
.dark
{
  --black: #fff;
  --white: #333;
}
header 
{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  width: 100%;
  z-index: 1000;
}
.right 
{
  display: flex;
}
header .btns 
{
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
header .btns ion-icon 
{
  font-size: 1.5em;
  color: var(--black);
}
header .btns.menuToggle ion-icon
{
  font-size: 3em;
} 
header .btns ion-icon:nth-child(2)
{
  display: none;
}
header .btns.active ion-icon:nth-child(1)
{
  display: none;
}
header .btns.active ion-icon:nth-child(2)
{
  display: block;
}
.logo 
{
  position: relative;
  display: inline-block;
  color: var(--black);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}
.main
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main video 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mask 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: screen;
  user-select: none;
} 
.dark .mask 
{
  filter: invert(1);
  mix-blend-mode: multiply;
}
.main h2 
{
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 16vw;
  text-shadow: 0 20px 30px rgba(0,0,0,0.2);
}
.navigation 
{
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--white);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}
.navigation.active 
{
  left: 0;
}
.navigation li 
{
  list-style: none;
}
.navigation li a
{
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.35em;
  text-decoration: none;
  color: var(--black);
  padding: 5px 20px;
  border-radius: 40px;
}
.navigation li a:hover
{
  background: var(--black);
  color: var(--white);
}
.sci 
{
  position: absolute;
  bottom: 30px;
  right: 100px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.sci li 
{
  list-style: none;
}
.sci li a 
{
  text-decoration: none;
  color: var(--black);
  font-size: 1.75em;
  transition: 0.5s;
}
.text 
{
  position: absolute;
  bottom: 40px;
  left: 100px;
  z-index: 2;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--black);
}
@media (max-width: 767px)
{
  header
  {
    padding: 20px;
  }
  .text 
  {
    left: 20px;
    bottom: 20px;
  }
  .sci 
  {
    right: 20px;
    bottom: 20px;
  }
}