@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
.loader
{
	position: relative;
	width: 200px;
	height: 200px;
	background: #2196f3;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: inset 0 0 50px rgba(0,0,0,1);
}
.loader:before
{
	content: '';
	position: absolute;
	top: -150%;
	left: -50%;
	width: 200%;
	height: 200%;
	border-radius: 40%;
	background: #111;
	opacity: 0.8;
	animation: animate 12s linear infinite;
	transition: 2s;
}
.loader:after
{
	content: '';
	position: absolute;
	top: -150%;
	left: -50%;
	width: 200%;
	height: 200%;
	border-radius: 40%;
	background: #111;
	opacity: 0.9;
	animation: animate2 5s linear infinite;

	transition: 2s;
}
.loader:hover:before,
.loader:hover:after
{
	top: -180%;
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes animate2
{
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
}