.gallery {
    --s: 30px; /* control the zig-zag size */

    display: grid;
    height: 350px;
    gap: 8px;
    grid-auto-flow: column;
    place-items: center;
}
.gallery > img {
    width: 0;
    min-width: calc(100% + var(--s));
    height: 0;
    min-height: 100%;
    object-fit: cover;
    --mask:
            conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg)
            100% calc(50% + var(--_p,0%))/51% calc(2*var(--s)) repeat-y,
            conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg)
            0% calc(50% + var(--_p,0%))/51% calc(2*var(--s)) repeat-y;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    cursor: pointer;
    transition: .5s;
}
.gallery > img:nth-child(odd) {
    --_p: var(--s);
}
.gallery > img:hover {
    width: 15vw;
}
.gallery > img:first-child {
    min-width: calc(100% + var(--s)/2);
    place-self: start;
    --mask:
            conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg)
            0 calc(50% + var(--_p,0%))/100% calc(2*var(--s));
}
.gallery > img:last-child {
    min-width: calc(100% + var(--s)/2);
    place-self: end;
    --mask:
            conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg)
            0 calc(50% + var(--_p,0%)) /100% calc(2*var(--s));
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    align-content: center;
    background: #ECD078;
}
