@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body
{
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
}
header
{
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,0.05);
}
.logo
{
  height: 60px;
  line-height: 60px;
  color: #12334e;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  padding-left: 20px;
}
#toggle
{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #9051ff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
#toggle::before
{
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}
#toggle::after
{
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.2s;
}
#toggle.active
{
  background: #f7226a;
}
#toggle.active::before
{
  transform: translateY(0px) rotate(45deg);
}
#toggle.active::after
{
  transform: translateY(0px) rotate(-45deg);
}
#navbar
{
  position: relative;
  height: 60px;
  right: 60px;
  background: #fff;
  width: 0px;
  transition: 0.5s;
  overflow: hidden;
}
#navbar.active
{
  width: 660px;
}
#navbar ul
{
  position: relative;
  display: flex;
  flex-direction: row;
}
#navbar ul li
{
  list-style: none;
}
#navbar ul li a
{
  color: #12334e;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 15px;
  letter-spacing: 2px;
  white-space: nowrap;
}
#navbar ul li a:hover
{
  color: #fff;
  background: #9051ff;
}


section
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section h2
{
  color: #f5f5f5;
  font-size: 18vw;
}

@media (max-width: 991px)
{

  #navbar
  {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f3f3f3;
  }
  #navbar.active
  {
    height: calc(100vh - 60px);
    bottom: 0px;
    width: 100%;
  }
  #navbar ul
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}