@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@keyframes checked {
    0% { tranform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family:"Open Sans";
    background: #DA5838;
    padding: 20px;
}
h2 {
    font-size: 24px;
    margin-bottom: 14px;
}
div {
    margin-bottom: 18px;
}
input[type="radio"],
input[type="checkbox"]{
    display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label{
    appearance: none;
    cursor: pointer;
    display: inline-block;
    padding-left: 34px;
    position: relative;
    vertical-align: middle;
}
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label{
    backface-visibility: hidden;
    animation: checked 200ms ease 1;
}
input[type="radio"] + label:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    border-radius: 100% 100% 100% 100%;
    content: " ";
    height: 7px;
    left: 12px;
    position: absolute;
    top: 6px;
    width: 7px;
}
input[type="radio"] + label:hover:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}
input[type="radio"]:checked + label:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
}
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 3px;
    top: 6px;
    left: 11px;
    border: 2px solid rgba(255,255,255,0);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
input[type="checkbox"] + label:hover:before {
    border-color: rgba(255, 255, 255, 0.5);
}
input[type="checkbox"]:checked + label:before {
    border-color: rgba(255, 255, 255, 1);
}
input[type="radio"] + label:after,
input[type="checkbox"] + label:after{
    border: 3px solid #FFFFFF;
    border-radius: 100% 100% 100% 100%;
    content: " ";
    height: 15px;
    left: 5px;
    position: absolute;
    top: -1px;
    width: 15px;
}
input[type="radio"]:checked + label:after,
input[type="checkbox"]:checked + label:after{
    border-color: rgba(255,255,255,1);
}