@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #67a5d4;
}
.card
{
  position: relative;
  min-width: 350px;
  height: 122px;
  background: #fff;
  padding: 20px;
  transition: height ease-in-out 0.5s;
  overflow: hidden;
  box-shadow: 0 50px 50px rgba(0,0,0,0.2);
}
.card.active 
{
  height: 400px;
}
.card .content 
{
  display: flex;
  align-items: center;
}
.card .content .imgBx 
{
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.card .content .imgBx img 
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .content h2 
{
  margin-left: 15px;
  font-size: 1.3em;
}
.card .content h2 span 
{
  font-size: 0.8em;
  font-weight: 400;
  color: #999;
}
.toggle
{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #36b3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
.toggle ion-icon
{

  color: #fff;
  font-size: 1.4em;
  transition: transform ease-in-out 0.5s;
}
.card.active .toggle ion-icon
{
  transform: rotate(-180deg);
}
.navigation 
{
  position: relative;
  margin-top: 25px;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 20px 0;
}
.navigation li 
{
  list-style: none;
  margin: 15px 0;
}
.navigation li a 
{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #555;
  font-size: 1.1em;
  transition: 0.25s;
}
.navigation li a:hover 
{
  color: #36b3ff;
}
.navigation li a ion-icon
{
  font-size: 1.6em;
  margin-right: 15px;
}